section.has-dark-background,
section.has-dark-background h1,
section.has-dark-background h2,
section.has-dark-background h3,
section.has-dark-background h4,
section.has-dark-background h5,
section.has-dark-background h6 {
  color: #fff;
}

section.has-light-background,
section.has-light-background h1,
section.has-light-background h2,
section.has-light-background h3,
section.has-light-background h4,
section.has-light-background h5,
section.has-light-background h6 {
  color: #222;
}

/*********************************************
  * GLOBAL STYLES
  *********************************************/
:root {
  --r-background-color: #fff;
  --r-main-font: Source Sans Pro, Helvetica, sans-serif;
  --r-main-font-size: 42px;
  --r-main-color: #222;
  --r-block-margin: 20px;
  --r-heading-margin: 0 0 20px 0;
  --r-heading-font: Source Sans Pro, Helvetica, sans-serif;
  --r-heading-color: #222;
  --r-heading-line-height: 1.2;
  --r-heading-letter-spacing: normal;
  --r-heading-text-transform: uppercase;
  --r-heading-text-shadow: none;
  --r-heading-font-weight: 600;
  --r-heading1-text-shadow: none;
  --r-heading1-size: 2.5em;
  --r-heading2-size: 1.6em;
  --r-heading3-size: 1.3em;
  --r-heading4-size: 1em;
  --r-code-font: monospace;
  --r-link-color: #2a76dd;
  --r-link-color-dark: #1a53a1;
  --r-link-color-hover: #6ca0e8;
  --r-selection-background-color: #98bdef;
  --r-selection-color: #fff;
}

body[data-theme='black'] {
  --r-background-color: #191919;
  --r-main-color: #fff;
  --r-heading-color: #fff;
  --r-link-color: #42affa;
  --r-link-color-dark: #068de9;
  --r-link-color-hover: #8dcffc;
  --r-selection-background-color: #bee4fd;
  --r-selection-color: #fff;
}

body[data-theme='beige'] {
  --r-background-color: #f7f3de;
  --r-main-color: #333;
  --r-heading-color: #333;
  --r-heading1-text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb,
    0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25),
    0 20px 20px rgba(0, 0, 0, 0.15);
  --r-link-color: #8b743d;
  --r-link-color-dark: #564826;
  --r-link-color-hover: #c0a86e;
  --r-selection-background-color: rgba(79, 64, 28, 0.99);
  --r-selection-color: #fff;
}

body[data-theme='blood'] {
  --r-background-color: #222;
  --r-main-color: #eee;
  --r-heading-color: #eee;
  --r-heading-text-shadow: 2px 2px 2px #222;
  --r-heading1-text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb,
    0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25),
    0 20px 20px rgba(0, 0, 0, 0.15);
  --r-link-color: #a23;
  --r-link-color-dark: #6a1520;
  --r-link-color-hover: #dd5566;
  --r-selection-background-color: #a23;
  --r-selection-color: #fff;
}

body[data-theme='league'] {
  --r-background-color: #2b2b2b;
  --r-main-color: #eee;
  --r-heading-color: #eee;
  --r-heading-text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  --r-heading1-text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb,
    0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25),
    0 20px 20px rgba(0, 0, 0, 0.15);
  --r-link-color: #13daec;
  --r-link-color-dark: #0d99a5;
  --r-link-color-hover: #71e9f4;
  --r-selection-background-color: #ff5e99;
  --r-selection-color: #fff;
}

body[data-theme='moon'] {
  --r-background-color: #002b36;
  --r-main-color: #93a1a1;
  --r-heading-color: #eee8d5;
  --r-link-color: #268bd2;
  --r-link-color-dark: #1a6091;
  --r-link-color-hover: #78b9e6;
  --r-selection-background-color: #d33682;
  --r-selection-color: #fff;
}

body[data-theme='night'] {
  --r-background-color: #111;
  --r-main-color: #eee;
  --r-heading-color: #eee;
  --r-link-color: #e7ad52;
  --r-link-color-dark: #d08a1d;
  --r-link-color-hover: #f3d7ac;
  --r-selection-background-color: #e7ad52;
  --r-selection-color: #fff;
}

body[data-theme='serif'] {
  --r-background-color: #f0f1eb;
  --r-main-color: #000;
  --r-heading-color: #383d3d;
  --r-link-color: #51483d;
  --r-link-color-dark: #25211c;
  --r-link-color-hover: #8b7c69;
  --r-selection-background-color: #26351c;
  --r-selection-color: #fff;
}

body[data-theme='simple'] {
  --r-background-color: #fff;
  --r-main-color: #000;
  --r-heading-color: #000;
  --r-link-color: #00008b;
  --r-link-color-dark: #00003f;
  --r-link-color-hover: #0000f1;
  --r-selection-background-color: rgba(0, 0, 0, 0.99);
  --r-selection-color: #fff;
}

body[data-theme='sky'] {
  --r-background-color: #f7fbfc;
  --r-main-color: #333;
  --r-heading-color: #333;
  --r-link-color: #3b759e;
  --r-link-color-dark: #264c66;
  --r-link-color-hover: #74a7cb;
  --r-selection-background-color: #134674;
  --r-selection-color: #fff;
}

body[data-theme='solarized'] {
  --r-background-color: #fdf6e3;
  --r-main-color: #657b83;
  --r-heading-color: #586e75;
  --r-link-color: #268bd2;
  --r-link-color-dark: #1a6091;
  --r-link-color-hover: #78b9e6;
  --r-selection-background-color: #d33682;
  --r-selection-color: #fff;
}

body[data-theme='latte'] {
  --r-background-color: #eff1f5;
  --r-main-color: #4c4f69;
  --r-heading-color: #5c5f77;
  --r-link-color: #dc8a78;
  --r-link-color-dark: #dc7f6a;
  --r-link-color-hover: #dc9586;
  --r-selection-background-color: #acb0be;
  --r-selection-color: #4c4f69;
}

body[data-theme='macchiato'] {
  --r-background-color: #24273a;
  --r-main-color: #cad3f5;
  --r-heading-color: #b8c0e0;
  --r-link-color: #f4dbd6;
  --r-link-color-dark: #f4cbc3;
  --r-link-color-hover: #f3e0dc;
  --r-selection-background-color: #5b6078;
  --r-selection-color: #cad3f5;
}

.reveal-viewport {
  background: var(--r-background-color) !important;
  background-color: var(--r-background-color) !important;
}

body[data-theme='sky'] .reveal-viewport {
  background: #add9e4;
  background: -moz-radial-gradient(
    center,
    circle cover,
    #f7fbfc 0%,
    #add9e4 100%
  );
  background: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, #f7fbfc),
    color-stop(100%, #add9e4)
  );
  background: -webkit-radial-gradient(
    center,
    circle cover,
    #f7fbfc 0%,
    #add9e4 100%
  );
  background: -o-radial-gradient(
    center,
    circle cover,
    #f7fbfc 0%,
    #add9e4 100%
  );
  background: -ms-radial-gradient(
    center,
    circle cover,
    #f7fbfc 0%,
    #add9e4 100%
  );
  background: radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
  background-color: var(--r-background-color) !important;
}

html body[data-theme='serif'] .reveal a {
  line-height: 1.3em;
}

html body[data-theme='moon'] * {
  color-profile: sRGB;
  rendering-intent: auto;
}

html body[data-theme='solarized'] * {
  color-profile: sRGB;
  rendering-intent: auto;
}

body[data-theme='league'] .reveal-viewport {
  background: #1c1e20;
  background: -moz-radial-gradient(
    center,
    circle cover,
    #555a5f 0%,
    #1c1e20 100%
  );
  background: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, #555a5f),
    color-stop(100%, #1c1e20)
  );
  background: -webkit-radial-gradient(
    center,
    circle cover,
    #555a5f 0%,
    #1c1e20 100%
  );
  background: -o-radial-gradient(
    center,
    circle cover,
    #555a5f 0%,
    #1c1e20 100%
  );
  background: -ms-radial-gradient(
    center,
    circle cover,
    #555a5f 0%,
    #1c1e20 100%
  );
  background: radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
  background-color: var(--r-background-color) !important;
}

body[data-theme='beige'] .reveal-viewport {
  background: #f7f2d3;
  background: -moz-radial-gradient(
    center,
    circle cover,
    white 0%,
    #f7f2d3 100%
  );
  background: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, white),
    color-stop(100%, #f7f2d3)
  );
  background: -webkit-radial-gradient(
    center,
    circle cover,
    white 0%,
    #f7f2d3 100%
  );
  background: -o-radial-gradient(center, circle cover, white 0%, #f7f2d3 100%);
  background: -ms-radial-gradient(center, circle cover, white 0%, #f7f2d3 100%);
  background: radial-gradient(center, circle cover, white 0%, #f7f2d3 100%);
  background-color: var(--r-background-color) !important;
}

.reveal {
  font-family: var(--r-main-font);
  font-size: var(--r-main-font-size);
  font-weight: normal;
  color: var(--r-main-color);
}

.reveal ::selection {
  color: var(--r-selection-color) !important;
  background: var(--r-selection-background-color) !important;
  text-shadow: none;
}

.reveal ::-moz-selection {
  color: var(--r-selection-color) !important;
  background: var(--r-selection-background-color) !important;
  text-shadow: none;
}

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit;
}

/*********************************************
  * HEADERS
  *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: var(--r-heading-margin);
  color: var(--r-heading-color);
  font-family: var(--r-heading-font);
  font-weight: var(--r-heading-font-weight);
  line-height: var(--r-heading-line-height);
  letter-spacing: var(--r-heading-letter-spacing);
  text-transform: var(--r-heading-text-transform);
  text-shadow: var(--r-heading-text-shadow);
  word-wrap: break-word;
}

.reveal h1 {
  font-size: var(--r-heading1-size);
}

.reveal h2 {
  font-size: var(--r-heading2-size);
}

.reveal h3 {
  font-size: var(--r-heading3-size);
}

.reveal h4 {
  font-size: var(--r-heading4-size);
}

.reveal h1 {
  text-shadow: var(--r-heading1-text-shadow);
}

/*********************************************
  * OTHER
  *********************************************/
.reveal p {
  margin: var(--r-block-margin) 0;
  line-height: 1.3;
}

/* Remove trailing margins after titles */
.reveal h1:last-child,
.reveal h2:last-child,
.reveal h3:last-child,
.reveal h4:last-child,
.reveal h5:last-child,
.reveal h6:last-child {
  margin-bottom: 0;
}

/* Ensure certain elements are never larger than the slide itself */

/* .reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%;
} */

.reveal strong,
.reveal b {
  font-weight: bold;
}

.reveal em {
  font-style: italic;
}

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em;
}

.reveal ol {
  list-style-type: decimal;
}

.reveal ul {
  list-style-type: disc;
}

.reveal ul ul {
  list-style-type: square;
}

.reveal ul ul ul {
  list-style-type: circle;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px;
}

.reveal dt {
  font-weight: bold;
}

.reveal dd {
  margin-left: 40px;
}

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: var(--r-block-margin) auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block;
}

.reveal q {
  font-style: italic;
}

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: var(--r-block-margin) auto;
  text-align: left;
  font-size: 0.55em;
  font-family: var(--r-code-font);
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}

.reveal code {
  font-family: var(--r-code-font);
  text-transform: none;
  tab-size: 2;
}

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal;
}

.reveal .code-wrapper {
  white-space: normal;
}

.reveal .code-wrapper code {
  white-space: pre;
}

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

.reveal table th {
  font-weight: bold;
}

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid;
}

.reveal table th[align='center'],
.reveal table td[align='center'] {
  text-align: center;
}

.reveal table th[align='right'],
.reveal table td[align='right'] {
  text-align: right;
}

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none;
}

.reveal sup {
  vertical-align: super;
  font-size: smaller;
}

.reveal sub {
  vertical-align: sub;
  font-size: smaller;
}

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top;
}

.reveal small * {
  vertical-align: top;
}

.reveal .iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.reveal .iframe-wrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.reveal img {
  margin: var(--r-block-margin) 0;
  object-fit: cover;
}

.reveal .fair-data {
  width: 100%;
  height: 100%;
  margin: auto;
}

.reveal .sample-data {
  padding: 10px;
  width: 100%;
  height: 100%;
  margin: auto;
}

.reveal .media-container {
  position: absolute;
  top: 30%;
  left: 30%;
  padding: 10px;
  height: 400px;
  width: 400px;
}

.reveal .sample-image-container {
  width: 100%;
  height: 500px;
}

.reveal .fair-text {
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  height: 50px;
  width: 200px;
}

/*********************************************
  * LINKS
  *********************************************/
.reveal a {
  color: var(--r-link-color) !important;
  text-decoration: none;
  transition: color 0.15s ease;
}

.reveal a:hover {
  color: var(--r-link-color-hover) !important;
  text-shadow: none;
  border: none;
}

.reveal .roll span:after {
  color: #fff;
  background: var(--r-link-color-dark) !important;
}

/*********************************************
  * Frame helper
  *********************************************/
.reveal .r-frame {
  border: 4px solid var(--r-main-color) !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.reveal a .r-frame {
  transition: all 0.15s linear;
}

.reveal a:hover .r-frame {
  border-color: var(--r-link-color) !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

/*********************************************
  * NAVIGATION CONTROLS
  *********************************************/
.reveal .controls {
  color: var(--r-link-color) !important;
}

/*********************************************
  * PROGRESS BAR
  *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: var(--r-link-color) !important;
}

[contenteditable] {
  outline: 0px solid transparent;
}

.reveal .two-column {
  display: flex;
}

.reveal .two-column .col {
  flex: 1;
  text-align: left;
}

.reveal .slides {
  pointer-events: auto !important;
}
/*********************************************
  * PRINT BACKGROUND
  *********************************************/
@media print {
  .backgrounds {
    background-color: var(--r-background-color) !important;
  }
}

@media screen and (max-width: 747px) {
  .reveal .controls {
    font-size: 5px;
  }
}

.present {
  display: flex !important;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  pointer-events: none !important;
}

.present * {
  pointer-events: auto !important;
}

/***
  Google Slides
***/

.google-slide p {
  width: 100% !important;
  margin: 0 !important;
  word-wrap: break-word !important;
}

.google-slide ul,
.google-slide ol {
  margin: 0 !important;
}

.google-slide .shape {
  position: absolute !important;
  word-wrap: break-word !important;
  display: flex;
}

.google-slide .table {
  position: absolute !important;
}

.google-slide .table td {
  padding: 0 !important;
}
